@import 'global-styles';

.app-Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 3em 1.5em;
  color: $color-text-grey-2;

  @include respond(md) {
    padding: 6em 4em 2em;
  }

  &_HeadingHeart {
    color: $color-text-pink;
  }
}
