@import 'variables';
@import 'mixins';

// GLOBAL BASE STYLES

// Reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // All elements will inherit this property from the <body>
}

// This approach allows all of the sizing in the design to be based on the rem unit.
// It also ensures that the design is not broken when the browser font size is set to a custom value.

// ** This defines what 1rem is **
html {
  // width 0 - 575px
  font-size: 50%; // 1 rem = 8px, 8px/16px = 50%

  @include respond(sm) {
    // width 576px - 767px
    font-size: 56.25%; // 1 rem = 9px, 9px/16px = 56.25%
  }

  @include respond(md) {
    // width 768px - 991px
    font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%
  }

  @include respond(lg) {
    font-size: 75%; // 1rem = 12px, 12px/16px = 75%
    // width 992px - 1199px
  }

  @include respond(xl) {
    // width 1200px +
    font-size: 100%; // 1rem = 16px, 16px/16px = 100%
  }
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  // This sets 1rem for the entire design when the viewport width is 1200px and up
  // and if the browser font size is not set to a custom value.
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: $color-text-grey-2;
  background-color: $color-background-grey-1;
}

h1 {
  font-family: $font-header-jumbo;
  font-size: $size-text-xxl;
  font-weight: 500;
}

h2 {
  font-size: $size-text-xl;
  font-weight: 400;
}

h3 {
  font-size: $size-text-lg;
  font-weight: 600;
}

h4 {
  font-size: $size-text-md;
  font-weight: 600;
}

h5 {
  font-size: $size-text-sm;
  font-weight: 400;
}

h6 {
  font-size: $size-text-xs;
  font-weight: 600;
}

a,
a:link,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}
