// COLORS

// Text
$color-text-white: #ffffff;
$color-text-black: #2a2a2a;
$color-text-grey-1: #b1b1b1;
$color-text-grey-2: #777777;
$color-text-blue: #4ca5e1;
$color-text-red: #bc0101;

// Background
$color-background-white: #ffffff;
$color-background-black: #000000;
$color-background-grey-1: #f5f5f5;
$color-background-grey-2: #eeeeee;
$color-background-grey-3: #dfdfdf;
$color-background-blue: #4ca5e1;
$color-background-yellow: #ffdc83;

// TYPOGRAPHY

// Font-size
$size-text-xxs: 14px;
$size-text-xs: 16px;
$size-text-sm: 18px;
$size-text-md: 22px;
$size-text-lg: 28px;
$size-text-xl: 32px;
$size-text-xxl: 38px;

// LENGTHS

// For viewports larger than the following value, the app layout width will stop scaling larger at that value.
$max-app-width: 1440px;
