// TYPOGRAPHY

// Fonts

$font-primary: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
$font-header-jumbo: 'Press Start 2P', cursive;

// Font-size
$size-text-xxs: 14px;
$size-text-xs: 16px;
$size-text-sm: 18px;
$size-text-md: 22px;
$size-text-lg: 28px;
$size-text-xl: 32px;
$size-text-xxl: 64px;

// COLORS

// Text
$color-text-white: #ffffff;
$color-text-black: #2a2a2a;
$color-text-grey-1: #f3f3f3;
$color-text-grey-2: #e8e8e8;
$color-text-grey-3: #171011;
$color-text-grey-4: #bcbcbc;
$color-text-yellow: #ffdd99;
$color-text-blue: #96fafa;
$color-text-red: #bc0101;

// Background
$color-background-white: #ffffff;
$color-background-black: #000000;
$color-background-grey-4: #797979;
$color-background-grey-1: #212121;
$color-background-grey-2: #1c1818;
$color-background-grey-3: #171011;
$color-background-grey-5: #181112;
$color-background-blue: #96fafa;

// LENGTHS

// For viewports larger than the following value, the app layout width will stop scaling larger at that value.
$max-app-width: 1440px;
