<section class="pokemonlist-PokemonList">
  <ng-template #loading><div class="pokemonlist-PokemonList_Loader"></div></ng-template>
  <div class="pokemonlist-PokemonList_ListWrapper" *ngIf="pokemonListRetrieved$ | async; else loading">
    <ul class="pokemonlist-PokemonList_List" *ngFor="let pokemon of pokemonListItems">
      <li class="pokemonlist-PokemonList_ListItem">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
            pokemon.url.slice(34, -1)
          }}.png"
          alt="pokemon front image"
        />
        <span>{{ pokemon.name }}</span>
      </li>
    </ul>
    <button *ngIf="pokemonListOffset > 0" (click)="retrievePreviousPokemons()">Back</button>
    <button *ngIf="pokemonListOffset + pokemonListLimit < pokemonListMaxLength" (click)="retrieveMorePokemons()">
      More
    </button>
  </div>
</section>
