<main class="pokemonlist-PokemonList">
  <ng-template #loading><pok-loader></pok-loader></ng-template>
  <div *ngIf="pokemonListRetrieved$ | async; else loading">
    <ul class="pokemonlist-PokemonList_List">
      <li
        class="pokemonlist-PokemonList_ListItem"
        *ngFor="let pokemon of pokemonListItems"
        (click)="navigateToPokemonDetail(pokemon.url.slice(34, -1))"
      >
        <div class="pokemonlist-PokemonList_ListItemImageContainer">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
              pokemon.url.slice(34, -1)
            }}.png"
            alt="pokemon front image"
            class="pokemonlist-PokemonList_ListItemImage"
          />
        </div>
        <div class="pokemonlist-PokemonList_ListItemNameContainer">
          <h4 class="pokemonlist-PokemonList_ListItemName">{{ pokemon.name }}</h4>
        </div>
      </li>
    </ul>
    <div class="pokemonlist-PokemonList_ListButtonContainer">
      <div class="pokemonlist-PokemonList_ListButtonContainerFlex">
        <button
          class="pokemonlist-PokemonList_ListButtonPrevious"
          *ngIf="pokemonListOffset > 0"
          (click)="retrievePreviousPokemons()"
        >
          Back
        </button>
        <button
          class="pokemonlist-PokemonList_ListButtonNext"
          *ngIf="pokemonListOffset + pokemonListLimit < pokemonListMaxLength"
          (click)="retrieveMorePokemons()"
        >
          More
        </button>
      </div>
    </div>
  </div>
</main>
