<main class="pokemondetail-PokemonDetail">
  <ng-template #loading><pok-loader></pok-loader></ng-template>
  <div *ngIf="pokemonDetailRetrieved$ | async; else loading">
    <div class="pokemondetail-PokemonDetail_Card" *ngIf="pokemonDetail$ | async as pokemon">
      <div class="pokemondetail-PokemonDetail_ImageContainer">
        <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }} image" class="pokemondetail-PokemonDetail_Image" />
      </div>
      <div class="pokemondetail-PokemonDetail_NameContainer">
        <h3 class="pokemondetail-PokemonDetail_NameHeading">{{ pokemon.name }}</h3>
      </div>
      <div class="pokemondetail-PokemonDetail_TypesContainer">
        <span class="pokemondetail-PokemonDetail_TypesListTitle">Types:</span>
        <ul class="pokemondetail-PokemonDetail_TypesList">
          <li class="pokemondetail-PokemonDetail_TypesListItem" *ngFor="let type of pokemon.types">
            <span>{{ type['type'].name }}</span>
            <span
              class="pokemondetail-PokemonDetail_TypesListItemSeparator"
              [ngClass]="{
                'pokemondetail-PokemonDetail_EvolutionListItemSeparator-hidden':
                  pokemon.types.indexOf(type) == pokemon.types.length - 1
              }"
              >&#124;</span
            >
          </li>
        </ul>
      </div>
      <div class="pokemondetail-PokemonDetail_SpeciesContainer">
        <p class="pokemondetail-PokemonDetail_SpeciesTitle">Species:</p>
        <p class="pokemondetail-PokemonDetail_SpeciesText">{{ pokemon.species?.name }}</p>
      </div>
      <div class="pokemondetail-PokemonDetail_EvolutionContainer">
        <p
          class="pokemondetail-PokemonDetail_EvolutionListTitle"
          [ngClass]="{
            'pokemondetail-PokemonDetail_EvolutionListTitle-singleitem': pokemon?.evolution?.length == 1
          }"
        >
          Evolution:
        </p>
        <ul
          class="pokemondetail-PokemonDetail_EvolutionList"
          [ngClass]="{
            'pokemondetail-PokemonDetail_EvolutionList-singleitem': pokemon?.evolution?.length == 1
          }"
        >
          <li class="pokemondetail-PokemonDetail_EvolutionListItem" *ngFor="let species of pokemon.evolution">
            <span>{{ species }}</span>
            <span
              class="pokemondetail-PokemonDetail_EvolutionListItemSeparator"
              [ngClass]="{
                'pokemondetail-PokemonDetail_EvolutionListItemSeparator-hidden':
                  pokemon.evolution.indexOf(species) == pokemon.evolution.length - 1
              }"
              >&#9654;
            </span>
          </li>
        </ul>
      </div>
      <div class="pokemondetail-PokemonDetail_HeightContainer">
        <p class="pokemondetail-PokemonDetail_HeightTitle">Height:</p>
        <p class="pokemondetail-PokemonDetail_HeightText">{{ pokemon.height }}</p>
      </div>
      <div class="pokemondetail-PokemonDetail_AbilitiesContainer">
        <p
          class="pokemondetail-PokemonDetail_AbilitiesListTitle"
          [ngClass]="{
            'pokemondetail-PokemonDetail_AbilitiesListTitle-singleitem': pokemon?.abilities?.length == 1
          }"
        >
          Abilities:
        </p>
        <ul
          class="pokemondetail-PokemonDetail_AbilitiesList"
          [ngClass]="{
            'pokemondetail-PokemonDetail_AbilitiesList-singleitem': pokemon?.abilities?.length == 1
          }"
        >
          <li class="pokemondetail-PokemonDetail_AbilitiesListItem" *ngFor="let ability of pokemon.abilities">
            <span>{{ ability }}</span>
            <span
              class="pokemondetail-PokemonDetail_AbilitiesListItemSeparator"
              [ngClass]="{
                'pokemondetail-PokemonDetail_AbilitiesListItemSeparator-hidden':
                  pokemon.abilities.indexOf(ability) == pokemon.abilities.length - 1
              }"
              >&#124;</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
