@import 'global-styles';

// TODO: Add media-queries for card width
.pokemondetail-PokemonDetail {
  &_Card {
    width: 96%;
    display: grid;
    grid-template-rows: repeat(7, min-content);
    grid-template-columns: 3% min-content 1fr max-content 3%;
    grid-row-gap: 1.5em;
    border-radius: 1em;
    margin: auto;
    padding: 1em 0 5em;
    background-color: $color-background-grey-2;
    color: $color-text-grey-3;

    @include respond(sm) {
      grid-template-columns: 4% min-content 1fr max-content 4%;
    }
  }

  &_Image {
    height: 100%;
    object-fit: cover;

    &Container {
      height: 10em;
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-row: 1 / 2;
      grid-column: 2 / 5;
    }
  }

  &_Name {
    &Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-row: 2 / 3;
      grid-column: 2 / 5;
    }

    &Heading {
      color: $color-text-yellow;
      letter-spacing: 0.4em;
      transform: translateY(-1.5em);
    }
  }

  &_Types {
    &Container {
      display: flex;
      grid-row: 3 / 4;
      grid-column: 2 / 5;
    }

    &List {
      @include detailText;

      &Title {
        @include detailTitle;
      }

      &Item {
        display: inline-grid;

        &:not(:last-of-type) {
          padding-right: 1em;
        }
      }
    }
  }

  &_Species {
    &Container {
      grid-row: 4 / 5;
      grid-column: 2 / 5;
    }

    &Title {
      @include detailTitle;
      display: inline-grid;
    }

    &Text {
      @include detailText;
      display: inline-grid;
    }
  }

  &_Evolution {
    &Container {
      display: flex;
      flex-direction: column;
      align-items: start;
      grid-row: 5 / 6;
      grid-column: 2 / 5;
    }

    &List {
      @include detailList;

      &Title {
        @include detailTitleList;
      }

      &Item {
        color: $color-text-blue;

        &:not(:last-of-type) {
          padding-right: 1em;
        }
      }
    }
  }

  &_Height {
    &Container {
      grid-row: 6 / 7;
      grid-column: 2 / 5;
    }

    &Title {
      @include detailTitle;
      display: inline-grid;
    }

    &Text {
      @include detailText;
      display: inline-grid;
    }
  }

  &_Abilities {
    &Container {
      display: flex;
      flex-direction: column;
      align-items: start;
      grid-row: 7 / 8;
      grid-column: 2 / 5;
    }

    &List {
      @include detailList;

      &Title {
        @include detailTitleList;
      }

      &Item {
        color: $color-text-blue;

        &:not(:last-of-type) {
          padding-right: 1em;
        }
      }
    }
  }
}
