<main class="app-PageNotFound">
  <div class="app-PageNotFound_ImageContainer">
    <img src="assets/pikachu-angry.png" alt="angry pikachu" class="app-PageNotFound_Image" />
  </div>
  <div class="app-PageNotFound_MessageAnchorContainer">
    <div class="app-PageNotFound_MessageContainer">
      <p class="app-PageNotFound_Message">Oops! Pikachu didn't find what you're looking for...</p>
    </div>
    <div class="app-PageNotFound_AnchorContainer">
      <a href="#" routerLink="/" class="app-PageNotFound_Anchor">
        <span>Back to civilization</span>
      </a>
    </div>
  </div>
</main>
